input[type=submit] {
    cursor:pointer;
}
.buttonMiniJeu {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.3s;
    border: 1px solid rgba(0,0,0,0.5);
}
.validateButton {
    border: 2px solid rgba(14,235,174,1);
}
.cancelButton {
    border: 2px solid rgba(235,45,14,0.7);
}
.validateButton:hover {
    border-color: rgba(0,0,0,0);
    background-color: rgba(14,235,174,0.8);
}
.cancelButton:hover {
    border-color: rgba(0,0,0,0);
    background-color: rgba(235,45,14,1);
}
.startAndStopButton {
    border: 2px solid rgba(235,208,14,1);
}
.startAndStopButton:hover {
    border-color: rgba(0,0,0,0);
    background-color: rgba(235,208,14,1);
}
.animVitesse {
    /* ! timeOut 400 sur le remove de la class */
    animation: animVitesse 0.4s 0s forwards ease-in-out;
}
@keyframes animVitesse {
    0% {
        font-size: 100%;
        color: black;
    }
    50% {
        font-size: 110%; 
        color: rgba(14,235,174,1);
    }
    100% {
        font-size: 100%;
        color: black;
    }
}
#carIcon {
    color:rgba(213,13,13); 
    font-size:150%;
    text-shadow: -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
#carSmoke {
    opacity: 0;
    transform:rotate(180deg);
    color: grey;
}
.cloudAnim {
    opacity: 1;
    animation: blinking 1s 0s infinite ease;
}
@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    animation: fadeIn 0.2s 0s forwards ease;
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#miniJeuDiv1 {
    margin-bottom: 3px; 
    background-color: rgba(0,150,200,0.2); 
    border:1px solid black; 
    border-radius: 4px; 
    display:inline-flex;

    /* Pour afficher la voiture devant le landscape */
    position: relative;
    z-index: 999;

    /* Bloqué pour le landscape */
    width: 650px;

    /* padding:10px 25px;  */
    padding: 30px 25px 10px 25px;
}
#wrapper {
    position: relative;
    top: 47px;
    left: 20px;
    z-index: 1;
    font-size: 200%;
    display: inline-block;
    max-width: 656px;
    opacity: 0.6;

    overflow: hidden;
}
#landscapeDiv {
    /* Il faudrait pouvoir mettre des letter-spacing aléatoire, fonction qui génère le landscape*/
    position: relative;
    width: max-content;
}
.landscapeDivMove {
    animation: landscapeMove 100s 0s infinite forwards ease;
    right: 0px;
}
.paused {
    animation-play-state: paused;
}
.acceleratededed {
    animation-duration: 50s;
}
@keyframes landscapeMove {
    from {
        right: 0px;
    }
    to {
        right: 2000px;
    }
}
/* .landscapeDivMoveTry2 {
    animation: landscapeMove duration timing-function delay iteration-count direction fill-mode;
} */

.fa-flag-checkered {
    text-shadow: -1px 0 #01ff99, 1px -1px 0 #01ff99, -1px 1px 0 #01ff99, 1px 1px 0 #01ff99;
}

.miniJeuButton {
    padding: 10px 20px;
    font-size: 1em;
    font-family: 'Font Awesome 6 Free';
    transition: all 0.3s;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 3px;
    border-width: 1px;
}
#initialStartUpCarButton, #startUpCarButton {
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.5);
    border-color: rgb(212, 212, 1);

    width:100px;
}
#initialStartUpCarButton:hover, #startUpCarButton:hover {
    background-color: rgba(255, 255, 0, 1);
    border-color: rgb(150, 150, 0);
}
#stopCarButton {
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);


    width:100px;
}
#slowDownCarButton {
    background-color: rgba(255, 66, 129, 0.5);
    border-color: rgba(255, 0, 0, 0.5);
}
#slowDownCarButton:hover {
    background-color: rgba(255, 66, 129, 1);
}
#speedUpCarButton {
    background-color: rgba(0, 255, 98, 0.5);
    border-color: rgb(0, 255, 98);
}
#speedUpCarButton:hover {
    background-color: rgba(0, 255, 98, 1);
}